<a href="https://colab.research.google.com/github/Harsha5386/demo-b1/blob/main/harsha_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
check=lambda x: "even" if x % 2==0 else "odd"
print(check(7))
print(check(4))

odd
even

In [ ]:
calc=lambda x,y:(x+y,x*y)
res=calc(3,4)
print(res)

(7, 12)

In [ ]:
n=[1,2,3,4,5,6]
even=filter(lambda x:x%2==0,n)
print(list(even))

[2, 4, 6]

In [ ]:
a=[1,2,3,4]
b=map(lambda x:x*2,a)
print(list(b))

[2, 4, 6, 8]

In [ ]:
from functools import reduce

a=[1,2,3,4]
b=reduce(lambda x,y:x*y,a)
print(b)

24

In [ ]:
import pandas as pd
ds1=pd.Series([2,4,6,8,10])
ds2=pd.Series([1,3,5,7,9])
print("multiply two series:")
ds=ds1*ds2
print(ds)
print("divide series1 by series2:")
ds=ds1/ds2
print(ds)

multiply two series:
0     2
1    12
2    30
3    56
4    90
dtype: int64
divide series1 by series2:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [ ]:
import pandas as pd
d1 = {'a':100,'b':200,'c':300}
print("original dictionary:")
print(d1)
new_series=pd.Series(d1)
print("converted series:")
print(new_series)

original dictionary:
{'a': 100, 'b': 200, 'c': 300}
converted series:
a    100
b    200
c    300
dtype: int64

In [ ]:
import pandas as pd
s=pd.Series([400,300,12,100,200])
print("original data series:")
print(s)
new_s=pd.Series(s).sort_values()
print(new_s)

original data series:
0    400
1    300
2     12
3    100
4    200
dtype: int64
2     12
3    100
4    200
1    300
0    400
dtype: int64

In [ ]:
import pandas as pd
s=pd.Series(data=[1,2,3],index=['a','b','c'])
print(s)
s=s.reindex(index=['b','a','c'])
print("data series after changing the order of index:")
print(s)

a    1
b    2
c    3
dtype: int64
data series after changing the order of index:
b    2
a    1
c    3
dtype: int64

In [ ]:
import pandas as pd
import nupy as np
sr1=pd.series([1,2,3])
sr2=pd.series([2,3,6])
print("original series:")
print("sr1:")
print(sr1)
print("sr2:")
print(sr2)
print("in items of a given series not present in another given series:")
sr1 1=pd.series(np.union  id(sr1,sr2))
sr2 2=pd.series(np.intersect id(sr1,sr2))
result=sr1 1[sr1 1,is in(sr2 2)]
print(result)

In [ ]:
import pandas as pd
import numpy as np
exam_data={'name':['manish','dhiraj'],
           'score':[12.5,9]}
labels=['name','score']
df=pd.DataFrame(exam_data,index=labels)
print("first three rows of the data frame:")

first three rows of the data frame: